/*Raleway font from Google Fonts. Referenced in the index.html*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Making sure that the entire body is consistent with the same font*/
body {
    font-family: "Raleway", sans-serif;
}

/*Styling to the header section. Includes dimensions and background image*/
#jumbotron-section {
    height: 600px;
    width: auto;
    margin-bottom: 0!important;
    background: url(../img/hero-img.jpg) center no-repeat;
    background-size: cover;
}

/*Styling to the Bootstrap jumbrotron background and font color*/
.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 100vw;
    border-radius: 0!important;
}

.display-4, .lead {
    color: #fff;
    font-weight: 500;
}

/*Displayed results when API is called*/
#recipe-results {
    background-color: #f5f5f5
}

/*Footer section*/
#footer {
    background: #2a2c39;
    padding: 0 0 0 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top {
    padding: 30px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: 500;
    color: #fff;
  }

  #footer .footer-top .footer-info i {
      font-size: 28px;
      padding: 10px;
  }
  
  
  #footer .footer-top .footer-links a {
    font-size: 18px;
    display: inline-block;
    background: #E7625F;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 3px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: all 0.4s ease-in-out;
  }
  
 #footer .footer-top .footer-links a:hover {
    background: #fff;
    color: #E7625F;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 5px;
    color: #E7625F;
    font-size: 20px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    margin-bottom: 20px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
  }
  
  #footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  
  #footer .footer-top .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #E7625F; 
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  
  #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
    background: #E7625F;
  }
  
  #footer .copyright {
    text-align: left;
  }
  
  
  #footer .copyright a {
    color: #404e5c;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  
  #footer-brand a {
    color: #fff;
    transition: 0.3s;
  }
  
  #footer-brand a:hover {
    color: rgba(255, 255, 255, 0.5);
  }