/*Raleway font from Google Fonts. Referenced in the index.html*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Making sure that the entire body is consistent with the same font*/
body {
    font-family: "Raleway", sans-serif;
}

/*Styling to the header section. Includes dimensions and background image*/
#jumbotron-section {
    height: 600px;
    width: auto;
    margin-bottom: 0!important;
    background: url(../img/hero-img.jpg) center no-repeat;
    background-size: cover;
}

/*Styling to the Bootstrap jumbrotron background and font color*/
.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 100vw;
    border-radius: 0!important;
    align-items: center;
}

/* Styling of header/jumbotron text*/
.display-4, .lead {
    color: #fff;
    font-weight: 500;
}

/* Changes the default stock colors of Bootstrap buttons*/
.btn-default {
    background: cadetblue;
    color: #fff;
}

.btn-default:hover {
    background: rgb(116, 194, 197);
    color: #fff;
}

/*Displayed results when API is called*/
#recipe-results {
    background-color: #f5f5f5
}

.card-title {
  font-weight: 700;
}

.card-text {
  font-weight: 500;
}

#calories {
    color: cadetblue;

}

/*Footer section*/
#footer {
    background: #2a2c39;
    padding: 0 0 0 0;
    color: #fff;
    font-size: 14px;
}
  
#footer .footer-top {
    padding: 30px 0 30px 0;
}
  
#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

/*First column*/
#footer .footer-top .footer-info h3 {
    font-size: 26px;
    margin: 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
  
#footer .footer-top .footer-info p {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: 500;
    color: #fff;
}

#footer .footer-top .footer-info i {
      font-size: 26px;
      padding-right: 10px;
      color: cadetblue;
}

/*Second column*/
#footer .footer-top .footer-links a {
    font-size: 18px;
    display: inline-block;
    background: cadetblue;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 3px;
    margin-bottom: 20px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: all 0.4s ease-in-out;
}
  
#footer .footer-top .footer-links a:hover {
    background: #fff;
    color: cadetblue;
    text-decoration: none;
}

/*Third column*/
#footer .footer-top h3 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-credits {
  font-size: 16px;
}

#footer .footer-top .footer-credits a {
      color: #fff;
      transition: all ease-in-out 0.2s;
}

#footer .footer-top .footer-credits a:hover {
      text-decoration: none;
      color: cadetblue;
}
    
#footer .copyright {
    text-align: left;
    margin-top: 30px;
    font-size: 16px;
}
  
#footer .copyright a {
    color: #fff;
}

#footer .copyright a:hover {
    text-decoration: none;
    color: cadetblue;
}
  